.checkout-items-list-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
    max-width: 1000px;
}

.checkout-item-container {
	border-style: solid;
	border-radius: 8px;
	border-color: #d1d1d1;
	padding: 1rem;
	margin-top: 1rem;
    display: flex;
}

.checkout-total-container {
	display: flex;
	justify-content: space-between;
	border-style: solid;
	border-radius: 8px;
	border-color: #d1d1d1;
	padding: 1rem;
	margin-top: 1rem;
}

h1 {
	margin: 0 !important;
}

.checkout-data-container {
    margin-left: 2rem;
} 

.checkout-image {
    max-height: 100px;
}