:root {
	--shop-margin: 1rem;
}
.google-profile-photo {
	border-radius: 50%;
	width: 25%;
	margin-left: 3%;
	margin-top: 3%;
	/* margin-right: 15%; */
	height: auto;
}

@media only screen and (max-width: 700px) {
	.google-profile-photo {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 10%;
	}
}

.shops-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.shops {
	min-width: 20rem;
	height: 16rem;
	border-radius: 0.25rem;
	background-color: #443f3f86;
	margin-bottom: var(--shop-margin);
}

.shop-link {
	text-decoration: none;
	color: black;
}

.shop-name, .shop-description {
	margin-left: var(--shop-margin);
	margin-top: var(--shop-margin);
	text-decoration: bold;
}

.shop-description {
}
