:root {
	--comapny-accent-colour: rgba(79, 185, 255, 0.726);
	--company-accent-colour-hover: rgba(79, 185, 255, 0.9);
	--company-accent-colour-focus: rgba(79, 185, 255);
	--text-margin: 1rem;
	--bottom-box-margin: 1.5rem;
	--bottom-box-padding: 4rem;
	--flex-left-margin: 2rem;
	--background-colour: #ffffff;
	--drop-shadow-colour: #eeeeee;
	--max-width: 30rem;
	--title-font-size: 2rem;
}


@media only screen and (max-width: 700px) {

}

.home-container {
	margin-left: var(--flex-left-margin);
}

.shop-button {
	padding: 0.7rem 1.6rem;
	background: var(--comapny-accent-colour);
	border: none;
	border-radius: 0.3rem;
	box-shadow: 4px 8px 5rem var(--drop-shadow-colour);
	line-height: 1.6rem;
	font-size: 1.5rem;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
}

.shop-button:hover {
	background: var(--company-accent-colour-hover);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.shop-button:focus {
	background: var(--company-accent-colour-focus);
}

.title-and-create-new-shop-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--bottom-box-margin);
}

.shop,
.title-and-create-new-shop-container {
	max-width: var(--max-width);
}

.shops-title {
	font-size: var(--title-font-size);
	line-height: 3.2rem;
	font-weight: 600;
}

.shops-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
}

.shop {
	height: auto;
	border-radius: 0.3rem;
	position: relative;
	background-color: var(--background-colour);
	margin-bottom: var(--bottom-box-margin);
	padding-bottom: var(--bottom-box-padding);
	box-shadow: 4px 8px 5rem var(--drop-shadow-colour);
}

.shop-link {
	text-decoration: none;
	color: black;
}

.shop-name,
.shop-description {
	margin-left: var(--text-margin);
	margin-top: var(--text-margin);
	text-decoration: bold;
}

.right-arrow {
	right: 0;
	height: 5rem;
}

.shop span {
	height: 2rem;
	width: 2rem;
}
