.welcome-header {
	display: flex;
	justify-content: space-between;
}

.welcome-header-sign-in {
	margin-top: var(--header-margin);
	margin-right: var(--header-margin);
}

.welcome-body-main-section-container, .welcome-body-second-section-container {
	margin-top: var(--section-margin);
    box-shadow: 4px 8px 5rem var(--drop-shadow-colour);
    border-radius: var(--standard-border-radius);
}

.welcome-body-main-section-heading, .welcome-body-second-section-heading {
    font-size: 1.25rem;
}

.popular-items {
	margin-left: 3rem;
	font-weight: 400;
	font-size: 2rem;
}
